<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_LanguageService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.microsofttranslator.com/V1/soap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
                contract="TranslatorService.LanguageService" name="BasicHttpBinding_LanguageService" />
            <endpoint address="http://api.microsofttranslator.com/V1/soap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
                contract="TranslatorService.LanguageService" name="BasicHttpBinding_LanguageService1" />
        </client>
    </system.serviceModel>
</configuration>
